<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<title>Respuesta Caballos</title>
		</head>
		
		<body>
			<h2>Datos del Caballo</h2><br>
			<p>Nombre: <span th:text="${caballoAtrb.nombre}"></span></p>
			<p>Edad: <span th:text="${caballoAtrb.edad}"></span></p>
			<p>Velocidad Máxima: <span th:text="${caballoAtrb.velocidadMaxima}"></span></p>
			<p>Número Triunfos: <span th:text="${caballoAtrb.numeroTriunfos}"></span></p>
			<p>Experiencia: <span th:text="${caballoAtrb.experiencia}"></span></p>
			<br>
			<a th:href="@{/consulta_caballos}">Consulta el listado de todos los caballos registrados.</a>
		</body>
	</html>